.header {
  position: static;
  margin-bottom: 40px;
  .body {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 22px;
  }
  .menu {
    display: flex;
    gap: 15px;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .userMenuBtn {
    cursor: pointer;
  }
}
